.wrapper {
    margin-top: 20px;
}

.info {
    display: flex;
    justify-content: space-between;
}

.name {
    width: 150px;
    flex-direction: column;
    text-align: center;
}

.time {
    padding: 24px;
    width: 600px;
    flex-direction: column;
    text-align: center;
}

.price {
    width: 300px;
    padding: 20px;
    text-align: center;
    border-left: 2px dashed #ccc;
}

.price h5 {
    font-size: 22px;
    font-weight: 600;
}

.price span {
    font-size: 25px;
    color: #ff9000;
    font-weight: 600;

}

.price Button {
    margin-top: 10px;
    background-color: #ff9000;
    color: #fff;
    width: 130px;
    border: none;
    border-radius: 50px;
    height: 36px;
}
